<?xml version="1.0" encoding="utf-8"?>
<Config>
  <Port>9696</Port>
  <SslPort>6969</SslPort>
  <EnableSsl>False</EnableSsl>
  <LaunchBrowser>False</LaunchBrowser>
  <AuthenticationMethod>None</AuthenticationMethod>
  <AuthenticationRequired>Disabled</AuthenticationRequired>
  <LogLevel>Info</LogLevel>
  <ConsoleLogLevel>Info</ConsoleLogLevel>
  <Branch>develop</Branch>
  <ApiKey>kdmX0cF1ZVezh_Eoo7qIQC55rnzFbQXrDMKqs3HkSNs</ApiKey>
  <UrlBase></UrlBase>
  <InstanceName>Prowlarr</InstanceName>
  <UpdateMechanism>Docker</UpdateMechanism>
  <UpdateScriptPath></UpdateScriptPath>
  <AnalyticsEnabled>True</AnalyticsEnabled>
  <Indexers></Indexers>
  <Apps></Apps>
  <Notifications></Notifications>
  <Tags></Tags>
  <DownloadClients></DownloadClients>
</Config>
