<?xml version="1.0" encoding="utf-8"?>
<Config>
  <Port>8989</Port>
  <SslPort>9898</SslPort>
  <EnableSsl>False</EnableSsl>
  <LaunchBrowser>False</LaunchBrowser>
  <AuthenticationMethod>None</AuthenticationMethod>
  <AuthenticationRequired>Disabled</AuthenticationRequired>
  <LogLevel>Info</LogLevel>
  <ConsoleLogLevel>Info</ConsoleLogLevel>
  <Branch>master</Branch>
  <ApiKey>WU9SJFm6emrZ42cqnjuJtTU5uiSEbEEHFGotlKk8C_Y</ApiKey>
  <UrlBase></UrlBase>
  <InstanceName>Sonarr</InstanceName>
  <UpdateMechanism>Docker</UpdateMechanism>
  <UpdateScriptPath></UpdateScriptPath>
  <AnalyticsEnabled>True</AnalyticsEnabled>
  <DownloadClientWorkingFolders>/data/downloads</DownloadClientWorkingFolders>
  <DownloadClientHistoryLimit>60</DownloadClientHistoryLimit>
  <CompletedDownloadHandlerCheckInterval>60</CompletedDownloadHandlerCheckInterval>
  <CompletedDownloadServiceInterval>60</CompletedDownloadServiceInterval>
  <EnableCompletedDownloadHandling>True</EnableCompletedDownloadHandling>
  <EnableMediaInfo>True</EnableMediaInfo>
  <FileDate>None</FileDate>
  <RescanAfterRefresh>Always</RescanAfterRefresh>
  <AllowFingerprinting>Never</AllowFingerprinting>
  <MinimumAge>0</MinimumAge>
  <RecycleBin></RecycleBin>
  <RecycleBinCleanupDays>7</RecycleBinCleanupDays>
  <DownloadPropersAndRepacks>PreferAndUpgrade</DownloadPropersAndRepacks>
  <CreateEmptySeriesFolders>False</CreateEmptySeriesFolders>
  <DeleteEmptyFolders>True</DeleteEmptyFolders>
  <SkipFreeSpaceCheckWhenImporting>False</SkipFreeSpaceCheckWhenImporting>
  <MinimumFreeSpaceWhenImporting>100</MinimumFreeSpaceWhenImporting>
  <CopyUsingHardlinks>True</CopyUsingHardlinks>
  <ImportExtraFiles>False</ImportExtraFiles>
  <ExtraFileExtensions></ExtraFileExtensions>
  <EnableMediaInfo>True</EnableMediaInfo>
  <MediaInfoVersion>0.7.99</MediaInfoVersion>
  <SetPermissionsLinux>False</SetPermissionsLinux>
  <FileChmod>0644</FileChmod>
  <FolderChmod>0755</FolderChmod>
  <ChmodGroup></ChmodGroup>
  <EpisodeTitleRequired>Never</EpisodeTitleRequired>
  <SkipEpisodeDownloadInClientName>False</SkipEpisodeDownloadInClientName>
  <DisableMediaInfo>False</DisableMediaInfo>
  <ImportScripts></ImportScripts>
  <RootFolders>
    <RootFolder>
      <Path>/data/tv</Path>
      <FreeSpace>0</FreeSpace>
      <UnmappedFolders></UnmappedFolders>
    </RootFolder>
  </RootFolders>
  <DownloadClients></DownloadClients>
  <RemotePathMappings></RemotePathMappings>
  <Indexers></Indexers>
  <Notifications></Notifications>
  <Tags></Tags>
  <NetImportLists></NetImportLists>
  <ReleaseProfiles></ReleaseProfiles>
  <AutoTagging></AutoTagging>
</Config>
